{% extends 'base.html' %}

{% block title %}
changing article
{% endblock %}

{% block body %}

<h1>Changing article</h1>

<h1>Изменение статьи</h1>
<form action="" method="POST">
    <input type="text" name="title" id="title" class="form-control" placeholder="" value="{{ entrie.title }}"><br>
    <textarea name="description" id="description" class="form-control" placeholder="">{{ entrie.description }}</textarea><br>
    <textarea name="content" id="content" class="form-control" placeholder="">{{ entrie.content }}</textarea><br>
    <p>Не отображать статью в общей ленте: <input type="checkbox" name="private_entrie" value="True"></p><Br>
    <input type="submit" class="btn btn-success" value="Внести изменения">
</form>

{% endblock %}